.pl-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .pl-formgroup {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;

        input {
            padding: 0.3rem;
            border: 1px solid #d1d5db;
            background-color: #f9fafb;
            transition: border-color 0.2s ease-in-out;
            @apply rounded-sm shadow;

            &:focus {
                outline: none;
                border-color: #3b82f6;
                box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.5);
            }
        }
    }
}