.pl-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .pl-formgroup {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;

        label {
            font-size: 1.25rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        input[type="date"],
        input[type="url"],
        textarea {
            padding: 0.3rem;
            border: 1px solid #d1d5db;
            background-color: #f9fafb;
            transition: border-color 0.2s ease-in-out;
            @apply rounded-sm shadow;

            &:focus {
                outline: none;
                border-color: #3b82f6;
                box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.5);
            }
        }

        /* Remove default styling */
        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            height: 8px;
            border-radius: 999px;
            /* Your gradient from the mockup */
            background: linear-gradient(to right, #4ade80, #facc15, #f87171);
            outline: none;
        }

        /* Style the draggable thumb (Chrome/Safari/Edge) */
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: white;
            border: 2px solid #4ade80;
            /* Match the thumb color to your mockup */
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        /* Style the draggable thumb (Firefox) */
        input[type=range]::-moz-range-thumb {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: white;
            border: 2px solid #4ade80;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .pl-app__symptoms-checkbox:has(input:checked) {
            @apply border-secondary-400 bg-secondary-50;
        }
    }
}