/* fugaz-one-latin-400-normal */
@font-face {
    font-family: 'Fugaz One';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/fugaz-one/files/fugaz-one-latin-400-normal.woff2) format('woff2'), url(@fontsource/fugaz-one/files/fugaz-one-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* jost-latin-wght-italic */
@font-face {
    font-family: 'Jost';
    font-style: italic;
    font-display: swap;
    font-weight: 100 900;
    src: url(@fontsource-variable/jost/files/jost-latin-wght-italic.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-size: clamp(16px, 1.0445vw, 23px);
}

body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.03em;
}

.fugaz {
    font-family: 'Fugaz One', cursive;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
}

a:not(.no-underline):not(.pl-button) {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: theme("colors.primary.400");
}

p+p {
    margin-top: 1em;
}